main {
    width: 100%;
    height: 100vh;
    background-color: #000;
    opacity: 0.5;
}
@media (max-width: 1800px) {
    .clock {
        font-size: 10em;
        left: -0.5em;
        top: 3.575em;
    }

    #date {
        font-size: 0.22em;
        top: 5.2em;
        left: 5.7em;
        opacity: 0.5;
    }
}

@media (max-width: 1366px) {
    .clock {
        font-size: 8.5em;
        top: 3.05em;
        left: -0.6em;
    }
}

@media (max-width: 1024px) {
    .clock {
        font-size: 6em;
        left: -0.5em;
        top: 5.9em;
    }

    #date {
        font-size: 0.22em;
        top: 5.2em;
        left: 5.7em;
        opacity: 0.5;
    }
}

@media (max-width: 800px) {
    .clock {
        font-size: 6em;
        left: 2em;
        top: 1em;
    }

    #period {
        font-size: 0.2em;
        bottom: 2.45em;
        right: -8.5em;
    }

    #date {
        font-size: 0.2em;
        top: 5.8em;
        left: 6.8em;
        opacity: 1;
    }

    aside {
        bottom: 0em;
        right: 1em;
        padding: 50px 0;
        position: fixed;
    }
}

@media (max-width: 600px) {
    .clock {
        font-size: 8em;
        left: 0.1em;
        top: 1.2em;
    }

    #date {
        font-size: 0.27em;
        top: 4.5em;
        left: 4.2em;
    }
}