@font-face {
	font-family: 'PoppinsXB';
	src: url('../fonts/Poppins-ExtraBold.ttf');
	src: local('Poppins'),
}
@font-face {
	font-family: 'PoppinsSB';
	src: url('../fonts/Poppins-SemiBold.ttf');
	src: local('Poppins'),
}
@font-face {
	font-family: 'PoppinsR';
	src: url('../fonts/Poppins-Regular.ttf');
	src: local('Poppins'),
}
@font-face {
	font-family: 'PoppinsM';
	src: url('../fonts/Poppins-Medium.ttf');
	src: local('Poppins'),
}
@font-face {
	font-family: 'PoppinsT';
	src: url('../fonts/Poppins-Thin.ttf');
    src: local('Poppins'),
}