*{
	margin: 0;
	padding: 0;
}
.wrapper {
	display: inline-block;
	width: 100%;
	height: 100vh;
	font-family: 'Poppins', sans-serif;
	font-weight: 500;
	background: url(../img/background.jpg);
	background-position: center center;
	background-repeat: no-repeat;
	background-size: cover;
}
aside {
	bottom: 0em;
	right: 1em;
	padding: 50px 0;
	position: fixed;
}

.clock {
	width: 5.5em;
	height: 2em;
	text-align: center;
	position: relative;
	top: 2.8em;
	left: -0.4em;
	color: #fff;
	font-size: 8.5em;
	cursor: default;
}
.message {
	position: fixed;
	display: inline-block;
	width: 100%;
	height: 3em;
	top: 0em;
	left: 0em;
	font-size: 1em;
	background: indigo;
}
.message p{
	padding-top: 0.4em;
	text-align: center;
	color: #fff;
	font-family: 'Poppins', sans-serif;
	font-weight: 200;
	font-size: 1.3em;
}
footer{
	width: 100%;
	background-color: indigo;
	position: fixed;
	bottom: 0;
	padding-left: 2em;
	text-align: center;
}